.App {
  font-family: sans-serif;
  text-align: center;
}
#external-events {
  position: absolute;
  z-index: 2;

  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
  overflow-y: scroll;
}

#external-events .fc-event {
  margin: 1em 0;
  cursor: move;
}

.event-box {
  height: 150px;
  width: 250px;
  border: solid 2px black;
}

.icon {
  height: 50px;
  width: 50px;
}
